nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline black;
}
.profile > img{
    height: 220px;
    width: 220px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
h1, .cta, h2{
    margin: 0 auto;
    width: fit-content;
    display: block;
}
.cta{
    margin-top: 20px;
    padding: 12px 24px;
    background-color: black;
    color: whitesmoke;
    border: none;
}
.infoText{
    width: 40vw;
}
.rightImage{
    width: 45vw;
    text-align: center;
}
.rightImage > img{
    width: 65%;
    height: 100%;
}
.infoSection{
    display: flex;
    margin: 10vh;
    justify-content: space-between;
    gap: 40px;
}

.project > img{
    height: 280px;
    width: 280px;
    object-fit: fill;
    border: 1px solid gray;
}
h2{
    margin-bottom: 5vh;
}
.projectGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 5px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
}